
* {
	font-family: "Times New Roman", Times, serif;
}

body {
	background-color: powderblue;
	padding: .5em
}

img {
	width: 1em;
}

input {
	font-size: 32px;
	text-align: center;
	width: 5em;
	height: 3em;
	margin-left: .2em;
	margin-right: .2em;
	
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

label {
	font-size:28px;
	margin-left: 1em;
	margin-right: 1em;
	
}

button {
	font-size: 28px;
	width: 5em;
	border-radius: .2em;
	margin-left: .65em;
	margin-right: .65em;

}

div#divWrapper {
	padding: 2em 0em 2em 0em;
	margin-bottom: 2em;
	text-align: center;
	width: 27em;
	background-color: #F6DDCC; 
	border-radius: .3em;
	box-shadow: .5em .5em .5em #909497;
	overflow: hidden;
	
}



